body {
    margin: 0;
    background: #ffffff;
}

.screen.initial .initial,
.screen.started .started,
.screen.paused .paused,
.screen.stopped .stopped {
    display: block;
}

.table {
    min-width: 1344px;
    height: 800px;
    margin: 0 auto;
    box-shadow: inset 0 0 16px 0 #ffffff;
    background: url('../img/back_a.png');
}

.table.spades {
    background: url('../img/mark_a.png') center no-repeat, url('../img/back_a.png');
    background-size: auto 300px, auto;
}

.table.clubs {
    background: url('../img/mark_b.png') center no-repeat, url('../img/back_a.png');
    background-size: auto 300px, auto;
}

.table.diamonds {
    background: url('../img/mark_c.png') center no-repeat, url('../img/back_a.png');
    background-size: auto 300px, auto;
}

.table.hearts {
    background: url('../img/mark_d.png') center no-repeat, url('../img/back_a.png');
    background-size: auto 300px, auto;
}

.field {
    display: none;
    position: relative;
    width: 1280px;
    height: 768px;
    padding-top: 16px;
    margin: 0 auto;
}

.card {
    position: absolute;
    width: 128px;
    height: 192px;
    line-height: 192px;
    text-align: center;
    transition-property: top;
    transition-duration: 0.2s;
}

.card-inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid 1px #f3f3f3;
    border-radius: 8px;
    background: url('../img/logo_b.png') center no-repeat #ffffff;
    background-size: auto 48px;
}

.card-top, .card-bottom {
    position: absolute;
    line-height: 1;
}

.card-top {
    top: 0;
    left: 12px;
    text-align: left;
}

.card-bottom {
    bottom: 0;
    right: 12px;
    text-align: right;
}

.card-center {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    font-family: 'Engravers', sans-serif;
    font-size: 32px;
    line-height: 1;
}

.card-rank {
    vertical-align: middle;
    font-family: 'Engravers', sans-serif;
    font-size: 32px;
}

.card-suit {
    vertical-align: middle;
    font-family: 'MS Gothic', 'Arial', sans-serif;
    font-size: 24px;
}

.card.diamonds .card-rank,
.card.hearts .card-rank,
.card.diamonds .card-suit,
.card.hearts .card-suit {
    color: #ff0000;
}

.card.spades .card-suit:before {
    content: '\2660';
}

.card.clubs .card-suit:before {
    content: '\2663';
}

.card.diamonds .card-suit:before {
    content: '\2666';
}

.card.hearts .card-suit:before {
    content: '\2665';
}

.card.big {
    position: static;
    width: 512px;
    height: 768px;
    line-height: 768px;
    margin: 0 auto;
}

.card.big .card-inner {
    border-radius: 32px;
    background: url('../img/logo_a.png') center no-repeat #ffffff;
    background-size: auto 192px;
}

.card.big .card-top {
    left: 24px;
}

.card.big .card-bottom {
    right: 24px;
}

.card.big .card-rank {
    font-size: 128px;
}

.card.big .card-suit {
    font-size: 96px;
}

.card.empty .card-inner {
    background: #ffff00;
    border-color: #f2f200;
}

.card.empty .card-top, .card.empty .card-bottom {
    display: none;
}

.card.blackjack .card-inner {
    background: url('../img/logo_a.png') center no-repeat #ffffff;
    background-size: auto 88px;
}

.card.blackjack .card-top, .card.blackjack .card-bottom {
    display: none;
}

.status {
    display: none;
    line-height: 64px;
    font-family: 'Engravers', sans-serif;
    font-size: 32px;
    text-align: center;
}

.highlight {
    color: #ff0000;
}

.creators {
    display: none;
    line-height: 64px;
    font-family: 'Engravers', sans-serif;
    text-align: center;
}

.person {
    position: relative;
    display: inline-block;
    width: 168px;
}

.name {
    position: relative;
    color: #00de9a;
    text-decoration: none;
    font-size: 32px;
    z-index: 10;
}

.function {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 20px;
    line-height: 44px;
}
