body {
    margin: 0;
    background: white;
}

.container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.left {
    position: absolute;
    left: 0;
    top: 15px;
    width: 180px;
}

.middle {
    width: 409px;
    height: 569px;
    margin: 15px auto 0;
    overflow: hidden;
}

.right {
    position: absolute;
    right: 0;
    top: 15px;
    width: 180px;
}

.row {
    padding-bottom: 5px;
    margin-bottom: 15px;
    line-height: 15px;
    font-size: 15px;
    border-bottom: solid 1px lightgray;
}

.row-value {
    float: right;
    font-weight: bold;
}

.screen {
    position: relative;
    width: 409px;
    height: 569px;
    line-height: 569px;
    text-align: center;
}

.screen:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid 1px lightgray;
}

.screen-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.card {
    position: absolute;
    width: 50px;
    height: 70px;
    line-height: 70px;
    border: solid 1px lightgray;
    font-size: 20px;
    text-align: center;
    background: white;
    z-index: 10;
}

.card.clubs:after {
    content: '\2663';
}

.card.diamonds:after {
    content: '\2666';
}

.card.hearts:after {
    content: '\2665';
}

.card.spades:after {
    content: '\2660';
}

.card.clubs, .card.spades {
    color: black;
}

.card.diamonds, .card.hearts {
    color: red;
}
