<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Blackjack Tetris</title>
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
        <link href="css/bjt.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <game-app></game-app>
        </div>
        <script type="text/x-template" id="game-app">
            <div class="screen" tabindex="0" v-focus
                 @keydown.enter.prevent="start()"
                 @keydown.pause.prevent="pause()"
                 @keydown.space.prevent="down()"
                 @keydown.right.prevent="right()"
                 @keydown.left.prevent="left()">
                <div class="table" :class="table">
                    <game-initial-screen v-if="state == 'initial'"></game-initial-screen>
                    <game-started-screen v-if="state == 'started'"
                                         :deck="deck"
                                         :deck-rows="deckRows"
                                         :deck-rows-step="deckRowsStep"
                                         :cards="cards"
                                         :blackjack="blackjack"></game-started-screen>
                    <game-paused-screen v-if="state == 'paused'"></game-paused-screen>
                    <game-stopped-screen v-if="state == 'stopped'"></game-stopped-screen>
                </div>
                <div class="status" v-if="state == 'initial'">
                    press <span class="highlight">enter</span> to play
                </div>
                <div class="status" v-if="state != 'initial'">
                    <span>{{ deckCount }}</span><span>{{ deckCount | suffix }}</span>
                    deck
                    &nbsp;
                    blackjacks
                    <span class="highlight">
                        <span>{{ blackjacks }}</span>/<span>{{ levelBlackjacks }}</span>
                    </span>
                    &nbsp;
                    score
                    <span class="highlight">{{ score }}</span>
                </div>
                <div class="creators">
                    <div class="person">
                        <a class="name" href="http://datadweller.com">denny</a>
                        <div class="function">designer</div>
                    </div><div class="person">
                        <a class="name" href="https://pisemsky.com">evgeny</a>
                        <div class="function">developer</div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="game-initial-screen">
            <div class="field">
                <div class="card spades big">
                    <div class="card-inner">
                        <div class="card-top">
                            <span class="card-rank">J</span><span class="card-suit"></span>
                        </div>
                        <div class="card-bottom">
                            <span class="card-rank">J</span><span class="card-suit"></span>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="game-started-screen">
            <div class="field">
                <game-deck-card :card="card"
                                :key="card.id"
                                :deck-rows="deckRows"
                                :deck-rows-step="deckRowsStep"
                                v-for="card in deck"></game-deck-card>
                <game-card :card="card"
                           :key="card.id"
                           v-for="card in cards"
                           v-if="card"></game-card>
                <game-blackjack :blackjack="blackjack"
                                :deck-rows="deckRows"
                                v-if="blackjack"></game-blackjack>
            </div>
        </script>
        <script type="text/x-template" id="game-paused-screen">
            <div class="field">
                <div class="card big empty">
                    <div class="card-inner">
                        <div class="card-center">pause</div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="game-stopped-screen">
            <div class="field">
                <div class="card big empty">
                    <div class="card-inner">
                        <div class="card-top">
                            <a class="social fb" href="https://www.facebook.com/sharer/sharer.php?u=https://pisemsky.com/blackjacktetris" target="_blank" rel="nofollow">F</a>
                        </div>
                        <div class="card-center">game over</div>
                        <div class="card-bottom">
                            <a class="social vk" href="https://vk.com/share.php?url=https://pisemsky.com/blackjacktetris" target="_blank" rel="nofollow">V</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="game-card">
            <div class="card"
                 :class="card.suit"
                 :style="styleObject">
                <div class="card-inner">
                    <div class="card-top">
                        <span class="card-rank">{{ card.rank }}</span><span class="card-suit"></span>
                    </div>
                    <div class="card-bottom">
                        <span class="card-rank">{{ card.rank }}</span><span class="card-suit"></span>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="game-blackjack">
            <div class="card blackjack"
                 :style="styleObject">
                <div class="card-inner"></div>
            </div>
        </script>
        <script type="text/x-template" id="game-deck-card">
            <div class="card empty"
                 :class="card.suit"
                 :style="styleObject">
                <div class="card-inner">
                </div>
            </div>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/bjt.js"></script>
    </body>
</html>
